<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/pages/legal.css">
    <link rel="stylesheet" href="assets/css/pages/forms.css">
</head>

<body>
    <main class="hero">
        <div class="hero__bg">
            <header style="height: 100px;">
                <nav>
                    <div style="width: 28px;">
                        <div class="menu__toggler mobile"><span></span></div>
                    </div>
                    <a id="hero__logo" href="index.html">
                        <img src="assets/img/logo_w.png" alt="Logo Protelum">
                    </a>
                    <img id="nav_icon" class="nav_icon" src="assets/img/icons/lupa.png" alt="lupa">
                </nav>
        
                <div class="menu">
                    <img class="menu_logo" src="assets/img/logo_w.png" alt="">
                    <p><img src="assets/img/icons/m_1.png" alt="Inicio"><a href="inicio.html">Inicio</a>
                    </p>
                    <p><img src="assets/img/icons/m_2.png" alt="Inicio"><a href="facturas-finales.html">Facturas</a></p>
                    <p><img src="assets/img/icons/m_3.png" alt="Inicio"><a href="Idiomas.html">Idiomas</a></p>
                    <p><img src="assets/img/icons/m_4.png" alt="Inicio"><a href="compartir.html">Compartir</a></p>
                    <p><img src="assets/img/icons/m_5.png" alt="Inicio"><a href="contacto.html">Contacto</a></p>
                    <p><img src="assets/img/icons/m_6.png" alt="Inicio"><a href="terminos-y-condiciones.html">Términos y condiciones</a></p>
                    <p><img src="assets/img/icons/m_7.png" alt="Inicio"><a href="politica-de-privacidad.html">Politica de privacidad</a></p>
                    <p><img src="assets/img/icons/m_8.png" alt="Inicio"><a href="ayuda.html">Ayuda</a></p>
                    <p><img src="assets/img/icons/m_9.png" alt="Inicio"><a href="login.html">Cerrar sesión</a></p>
                    <div class="footer__icons">
                        <ul class="icons">
                            <li>
                                <a href="#"><img class="icon" src="assets/img/social/r_1.png" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img class="icon" src="assets/img/social/r_2.png" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img class="icon" src="assets/img/social/r_3.png" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>

            <h1 class="title"><span>Digitalizar</span> Factura</h1>
        </div>
    </main>

    <section>
        <div class="main__content">

            <div class="tab-container">
                <div class="tab__btn">
                    <a class="tab-button" href="#tab1">Final</a>
                    <a class="tab-button" href="#tab2">Rectificativa</a>
                    <a class="tab-button " href="#tab3">Proforma</a>
                </div>

                <div id="tab1" class="tab-content">
                    <form>
                        <div class="input-container">
                            <label for="tipo">INGRESO / GASTO</label>
                            <select id="tipo" name="tipo" class="custom-select">
                                <option value="Ingreso">Ingreso</option>
                                <option value="Gasto">Gasto</option>
                            </select>
                        </div>
                        <div class="input-container">
                            <label for="tipo">CLIENTE</label>
                            <div class="input-with-buttons">
                                <button type="button" id="btnDecrement">-</button>
                                <input type="number" id="counter" value="0">
                                <button type="button" id="btnIncrement">+</button>
                            </div>
                        </div>
                        <div class="input-container switch">
                            <label for="tipo">¿Se encuentra pagada?</label>
                            <label class="toggle-switch">
                                <input type="checkbox" class="toggle-checkbox">
                                <span class="slider"></span>
                                <span class="toggle-text">Si / No</span>
                            </label>
                        </div>
                        <div class="input-container">
                            <label for="tipo">Fecha</label>
                            <input type="date" id="fecha" name="fecha" value="<%= obtenerFechaActual() %>">
                        </div>
                        <div class="input-container">
                            <label for="tipo">Nº Factura
                            </label>
                            <input type="number">
                        </div>
                        <div class="input-container switch" id="importe_med">
                            <label for="tipo">¿Importe con impuesto incluido?</label>
                            <label class="toggle-switch">
                                <input type="checkbox" class="toggle-checkbox">
                                <span class="slider"></span>
                                <span class="toggle-text">Si / No</span>
                            </label>
                        </div>
                        <div class="input-container">
                            <label for="tipo">Subtotal</label>
                            <input type="number">
                        </div>
                        <div class="input-container">
                            <label for="tipo">Impuesto</label>
                            <select id="impuesto" name="tipo" class="custom-select">
                                <option value="Ingreso"></option>
                                <option value="Gasto">Gasto</option>
                            </select>
                        </div>
                        <div class="input-container">
                            <label for="irf">IRPF (opcional)</label>
                            <select id="irf" name="irf" class="custom-select">
                                <option value="Ingreso"></option>
                                <option value="Gasto">Gasto</option>
                            </select>
                        </div>
                        <div class="input-container">
                            <label for="tipo"><b>Total</b></label>
                            <input type="number">
                        </div>
                        <div class="input-container" id="forma_de_pago">
                            <label for="tipo">Forma de pago</label>
                            <select id="factura" name="tipo" class="custom-select">
                                <option value="Ingreso"></option>
                                <option value="Gasto">Paypal</option>
                            </select>
                        </div>
                        <div class="input-container" id="forma_de_pago">
                            <label for="tipo">Concepto</label>
                            <div id="concepto">
                                <input type="text" >
                                <span class="search-button" >
                                  <button type="button">Subir factura</button>
                                </span>
                            </div>
                        </div>
                        <button id="submit" type="submit">Enviar</button>
                    </form>
                </div>
                <div id="tab2" class="tab-content">
                    <div id="search">
                        <h2>Factura a rectificar</h2>
                        <label id="search_label">Nº de factura</label>  
                        <div class="search__input">
                            <input type="text" id="searchInput">
                            <span class="search-button" aria-placeholder="Buscar">
                              <button type="button" id="searchButton">Buscar</button>
                            </span>
                          </div>
                          
                    </div>
                    <div id="search__content">
                        <form>
                            <div class="input-container">
                                <label for="tipo">INGRESO / GASTO</label>
                                <select id="tipo" name="tipo" class="custom-select">
                                    <option value="Ingreso">Ingreso</option>
                                    <option value="Gasto">Gasto</option>
                                </select>
                            </div>
                            <div class="input-container">
                                <label for="tipo">CLIENTE</label>
                                <div class="input-with-buttons">
                                    <button type="button" id="btnDecrement">-</button>
                                    <input type="number" id="counter" value="0">
                                    <button type="button" id="btnIncrement">+</button>
                                </div>
                            </div>
                            <div class="input-container switch">
                                <label for="tipo">¿Se encuentra pagada?</label>
                                <label class="toggle-switch">
                                    <input type="checkbox" class="toggle-checkbox">
                                    <span class="slider"></span>
                                    <span class="toggle-text">Si / No</span>
                                </label>
                            </div>
                            <div class="input-container">
                                <label for="tipo">Fecha</label>
                                <input type="date" id="fecha" name="fecha" value="<%= obtenerFechaActual() %>">
                            </div>
                            <div class="input-container switch" id="importe">
                                <label for="tipo">¿Importe con impuesto incluido?</label>
                                <label class="toggle-switch">
                                    <input type="checkbox" class="toggle-checkbox">
                                    <span class="slider"></span>
                                    <span class="toggle-text">Si / No</span>
                                </label>
                            </div>
                            <div class="input-container">
                                <label for="tipo">Nº de factura a rectificar</label>
                                <input type="number">
                            </div>
                            <div class="input-container">
                                <label for="tipo">Nº de  factura  Rectificativa</label>
                                <select id="impuesto" name="tipo" class="custom-select">
                                    <option value="Ingreso"></option>
                                    <option value="Gasto">factura1</option>
                                </select>
                            </div>
                            <div class="input-container">
                            <label for="tipo">Subtotal</label>
                            <input type="number">
                        </div>
                        <div class="input-container">
                            <label for="tipo">Impuesto</label>
                            <select id="impuesto" name="tipo" class="custom-select">
                                <option value="Ingreso"></option>
                                <option value="Gasto">Gasto</option>
                            </select>
                        </div>
                            <div class="input-container">
                                <label for="irf">IRPF (opcional)</label>
                                <select id="irf" name="irf" class="custom-select">
                                    <option value="Ingreso"></option>
                                    <option value="Gasto">Gasto</option>
                                </select>
                            </div>
                            <div class="input-container">
                                <label for="tipo"><b>Total</b></label>
                                <input type="number">
                            </div>
                            <div class="input-container" id="forma_de_pago">
                                <label for="tipo">Forma de pago</label>
                                <select id="factura" name="tipo" class="custom-select">
                                    <option value="Ingreso"></option>
                                    <option value="Gasto">Paypal</option>
                                </select>
                            </div>
                            <div class="input-container">
                                <label for="tipo">Concepto</label>
                                <input type="text">
                            </div>
                            <div class="input-container upload">
                                <button type="button">Subir factura</button>
                            </div>
                            <button id="submit" type="submit">Enviar</button>
                        </form>
                    </div>
                </div>
                <div id="tab3" class="tab-content">
                    <form>
                        <div class="input-container">
                            <label for="tipo">INGRESO / GASTO</label>
                            <select id="tipo" name="tipo" class="custom-select">
                                <option value="Ingreso">Ingreso</option>
                                <option value="Gasto">Gasto</option>
                            </select>
                        </div>
                        <div class="input-container">
                            <label for="tipo">CLIENTE</label>
                            <div class="input-with-buttons">
                                <button type="button" id="btnDecrement">-</button>
                                <input type="number" id="counter" value="0">
                                <button type="button" id="btnIncrement">+</button>
                            </div>
                        </div>
                        <div class="input-container switch">
                            <label for="tipo">¿Se encuentra pagada?</label>
                            <label class="toggle-switch">
                                <input type="checkbox" class="toggle-checkbox">
                                <span class="slider"></span>
                                <span class="toggle-text">Si / No</span>
                            </label>
                        </div>
                        <div class="input-container">
                            <label for="tipo">Fecha</label>
                            <input type="date" id="fecha" name="fecha" value="<%= obtenerFechaActual() %>">
                        </div>
                        <div class="input-container switch" id="importe">
                            <label for="tipo">¿Importe con impuesto incluido?</label>
                            <label class="toggle-switch">
                                <input type="checkbox" class="toggle-checkbox">
                                <span class="slider"></span>
                                <span class="toggle-text">Si / No</span>
                            </label>
                        </div>
                        <div class="input-container">
                            <label for="tipo">Subtotal</label>
                            <input type="number">
                        </div>
                        <div class="input-container">
                            <label for="tipo">Impuesto</label>
                            <select id="impuesto" name="tipo" class="custom-select">
                                <option value="Ingreso"></option>
                                <option value="Gasto">Gasto</option>
                            </select>
                        </div>
                        <div class="input-container">
                            <label for="irf">IRPF (opcional)</label>
                            <select id="irf" name="irf" class="custom-select">
                                <option value="Ingreso"></option>
                                <option value="Gasto">Gasto</option>
                            </select>
                        </div>
                        <div class="input-container">
                            <label for="tipo"><b>Total</b></label>
                            <input type="number">
                        </div>
                        <div class="input-container" id="forma_de_pago">
                            <label for="tipo">Forma de pago</label>
                            <select id="factura" name="tipo" class="custom-select">
                                <option value="Ingreso"></option>
                                <option value="Gasto">Paypal</option>
                            </select>
                        </div>
                        <div class="input-container">
                            <label for="tipo">Concepto</label>
                            <input type="text">
                        </div>
                        <div class="input-container upload">
                            <button type="button">Subir factura</button>
                        </div>
                        <button id="submit" type="submit">Enviar</button>
                    </form>
                </div>
            </div>


        </div>
    </section>
    <div class="separator"></div>
    <div class="block">
        <a href="#">
            <img src="assets/img/icons/i_f.png" alt="">
        </a>
    </div>

    <script src="assets/js/main.js"></script>
    <script>
        const inputFecha = document.getElementById('fecha');
        const fechaActual = new Date().toISOString().split('T')[0];
        inputFecha.value = fechaActual;

        const counterInput = document.getElementById("counter");
        const btnIncrement = document.getElementById("btnIncrement");
        const btnDecrement = document.getElementById("btnDecrement");

        btnIncrement.addEventListener("click", () => {
            counterInput.value = parseInt(counterInput.value) + 1;
        });

        btnDecrement.addEventListener("click", () => {
            counterInput.value = parseInt(counterInput.value) - 1;
        });

        document.addEventListener("DOMContentLoaded", function () {
            const tabButtons = document.querySelectorAll('.tab-button');
            tabButtons.forEach(button => {
                button.addEventListener("click", function (event) {
                    event.preventDefault();
                    const tabName = button.getAttribute('href');
                    openTab(tabName);
                });
            });

            function openTab(tabName) {
                const tabs = document.querySelectorAll('.tab-content');
                tabs.forEach(tab => tab.style.display = 'none');

                const selectedTab = document.querySelector(tabName);
                if (selectedTab) {
                    selectedTab.style.display = 'block';
                    tabs.forEach(tab => tab.classList.remove('active'));
                    selectedTab.classList.add('active');

                    tabButtons.forEach(button => {
                        button.classList.remove('active');
                        if (button.getAttribute('href') === tabName) {
                            button.classList.add('active');
                        }
                    });
                }
            }

            openTab('#tab3');
        });

        document.addEventListener("DOMContentLoaded", function() {
  const searchButton = document.getElementById("searchButton");
  const searchContainer = document.getElementById("search");
  const searchContent = document.getElementById("search__content");

  searchButton.addEventListener("click", function() {
    searchContainer.style.display = "none";
    searchContent.style.display = "block";
  });
});

    </script>
</body>

</html>